body{
  box-sizing: border-box; 
  background: black;
}

.container {
  margin: 0 auto; max-width: 1440px;
  padding-top: 100px;
  padding-bottom: 75px;
  overflow: hidden;
  }

section {
display: flex;
justify-content: space-between;
margin-left: 2%;
margin-right: 2%;
padding-top: 2%;

}

article{
  flex-basis: 660px;
  margin-right: 2%;
  height: 650px;
}

h1{
  font-family: 'Forum', cursive; 
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color:  #FFFFFF;
  margin-top: -10px;
}

  hr{
    border: none; /* Убираем границу */
    background-color: #710707; /* Цвет линии */
    color: #710707;; /* Цвет линии для IE6-7 */
    height: 3px; /* Толщина линии */
    margin-top: 25px;
   margin-left: 0;
   margin-bottom: 75px;
   }
   
     h2 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
    color:  #FFFFFF;
    margin-bottom: 25px;
   }
   span{
     color: #9d8665;
   }


.slayden-savnena {  
   flex-basis: 640px;
   height: 650px;
  }
   
  .slayden-savnena figure {  
    background-image: url(../assets/img/rec.jpg);
    background-size: cover;
    font-size: 0;
    height: 100%;
    margin: 0;  
    position: relative;
    width: 100%;  
    height: 620px;
  }
  #kobavenusab {
    background-image: url(../assets/img/rec2.jpg);
    background-size: cover;
    bottom: 0;
    border-right: 5px solid rgba(243, 240, 240, 0.7);
    box-shadow: 10px 0 15px -13px #171717;
    height: 100%;
    max-width: 98.6%;
    min-width: 0.6%;
    overflow: visible;
    position: absolute;
    width: 50%;  
    animation: first 2s 1 normal ease-in-out 0.1s;  
    -webkit-animation: first 2s 1 normal ease-in-out 0.1s;  
  }
  input#pedsumid {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;  
    background: transparent;
    cursor: col-resize;
    height: 100vw;
    left: 0;
    margin: 0;
    outline: none;  
    padding: 0;
    position: relative;
    top: -100vw;
    width: 100%;
  }
  input#pedsumid::-moz-range-track {  
    background: transparent;  
  }
  input#pedsumid::-ms-track {
    border: none;  
    background-color: transparent;
    height: 100vw;  
    left: 0;  
    outline: none;  
    position: relative;
    top: -100vw;  
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: col-resize;
    color:transparent;
  }
  input#pedsumid::-ms-fill-lower {
    background-color:transparent;
  }
  input#pedsumid::-webkit-slider-thumb {
    -webkit-appearance:none;
    height: 100vw;
    width: 0.5%;
    opacity: 0;
  }
  input#pedsumid::-moz-range-thumb {
    -moz-appearance: none;
    height: 100vw;
    width: 0.5%;
    opacity: 0;
  }  
  input#pedsumid::-ms-thumb {
    height: 100vw;
    width: 0.5%;  
    opacity:0;
  }
  input#pedsumid::-ms-tooltip {
    display:none;
  }
  #kobavenusab::before {
    background: url(../assets/img/slider.png) no-repeat scroll 0 center transparent;
    background-size:contain;
    content: " ";
    float: right;
    height: 100%;
    margin-right: -34px;
    position: relative;
    top:0;
    width: 64px;
  }
  @keyframes first {
    0% {width: 0%; }
    50% {width: 80%; }
    100% {width: 50%; }
  }
  @-webkit-keyframes first {
    0% {width: 0%; }
    50% {width: 80%; }
    100% {width: 50%; }
  }
  @media only all and (max-width:1400px){
    section {
      display: block;
      height: 100%;
    }
    article{ 
      margin-right: 0;
     height: auto;
     margin-bottom: 10%;
    }
    .slayden-savnena { 
      max-width: 640px;
      margin: 0 auto;
      height: 700px;
  }
}
  
  @media only all and (max-width:1024px){
    h1{
      font-size: 50px;
      line-height: 75px; 
    }
    h2{
      font-family: 'Roboto', sans-serif; 
      font-weight: 300;
      font-size: 20px;
      line-height: 38.5px;
      color:  #FFFFFF;
      margin-bottom: 25px;
    }
      .slayden-savnena { 
        margin: 0 auto;
        height: 630px;
    }
      h2:last-child{
       display: none;
     }
    }
     
  @media only all and (max-width:768px){
    h1{
      font-size: 40px;
      line-height: 60px;
    }
    h2{
      display: none;
    }
    .slayden-savnena {  
      width: 520px;
     }
     .slayden-savnena figure {  
      height: 504px;
    }
  }

  
  @media only all and (max-width:590px){

    .slayden-savnena {  
      width: 337px;
      
     }
     
h1{
  font-size: 28px;
  line-height: 40px; 
}
.slayden-savnena figure {  
  height: 360px;
}
  }