
body{
  box-sizing: border-box; 
  background: #000;
}
.container {
  margin: 0 auto; max-width: 1440px;
  padding-left: 4%;
  padding-right: 4%;
  }

section {
padding-top: 75px; padding-bottom: 75px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
    
  }
  .welcome { 
   height: 86.5vh;  
   position: relative;
  
  }
    
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
  }
  li{
    list-style: none;
  }
 
  p {font-family: 'Roboto', sans-serif; 
    font-size: 28px;
    color:  #FFFFFF;
} 
nav {
  padding-top: 62px;
  max-width: 775px;}

.header_list {
  display:flex}

.header_item {
  margin-right: 2.8vw;
  font-family: 'Roboto';
font-weight: 100;
font-size: 22px;
letter-spacing: 2px;
color: #FFFFFF;}
 .header_item:last-child {
  margin-right: 0}
  .caption{
    z-index: 100;
    position: absolute;  
  }
  .title {
    font-family: 'Forum', cursive; 
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top:150px;
    margin-bottom: 26px;
  }
  .subtitle {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 33px;
letter-spacing: 2px;
margin-bottom: 76px;
  }
  .button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
    background: #710707;
    border-radius: 10px;
    width: 360px;
    height: 75px;
  }
      
     button:hover { 
       background-color: black;
       padding:3px;
     }
     a {
       text-decoration: none;
      color: white;
     }
     
      /* Собственно сам слайдер */
.slider{
  max-width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom:  15px;
}
.slider::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 2%;
  right: 0;
  background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73% );

}

/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 750px;
  border: none !important;

 
 
}
/* Кнопки вперед и назад */
 .slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Анимация слайдов */
.slider .item {
 
 
 
}
@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}
@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

/* Кружочки */
.slider-dots {
  text-align: center;
}
.slider-dots_item{
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.activated
 {
  background-color: #D2B183;
}
.burger {
  display: none;
}
@media only all and (max-width:1024px){
  .container {
    padding-left: 0%;
    padding-right: 0%;
    }
  .header_list{ 
    flex-direction: column;
    position: absolute;
    left: 120px;
    top: 34%;
    display: flex;
    opacity: 0;
  
   }
   .header_list.active{ 
    flex-direction: column;
    position: absolute;
    left: 120px;
    top: 27%;
    display: flex;
    opacity: 1;
    transition: opacity  1s linear;
    z-index: 2;
    right: 95%;
   }
   .header_item.active{
    margin-bottom: 38px;
    background-color: black;
   }
  p{
    position: relative;
    top: -150px;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
  }
  .title{
    font-size: 50px;
    line-height: 60px;
  }
  .burger{
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    right: 3%;
    bottom: 2%;
   }
   
   .burger::before{
    content: '';
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 0;
   }
   .burger.active::before{
     transform: rotate(45deg);
     right: 30px;
     top: 11px;
     left: 0px;
   }
   .burger span{
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
    transition: all 0.5s ease;
    top: 10px;
   }
   .burger.active span{
    transform: rotate(-45deg);
   }
   .burger::after{
    content: '';
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
    transition: all 0.7s ease ;
    bottom: 0;
  
  }
  .burger.active::after{ 
    display: none;
  }

   .header_logo img{
     margin-left: 1.5em;
   }
   .caption{
     margin-top: 17%;
   }
   .caption.active{
     display: none;
   }
   .button{
   width: 300px;
    height: 60px;
    margin-top: -40%;
    position: absolute;
   }
   .welcome{
     margin-left: 20px;
     margin-right: 20px;
   }

   .slider .item img {
     height: 525px;
   }
   .slider .next{
    display: none;
  }
   
}
@media only all and (max-width:768px){
.caption{
  position: static;
  margin-top: 0;
}
.slider{
  max-width: 100%;
  top: auto;
  bottom: 5%;
}
.button{
  display: none;
}
.title{
  font-size: 40px;
}
.subtitle{
  font-size: 20px;
}
.header_list.active{
  position: relative;
  left: 0%;
  margin-top: 237%;
    transition: all 1s linear;
}
.header_item.active {
  margin-bottom: 22px;
}
}


@media only all and (max-width:550px){
  
  .header-container {
   
  }
  .header_list{ 
    display: block;
    left: auto;
   }
   .welcome{
     left: 1%;
     margin-top: -13%;
   }
   .slider{
    max-width: 100%;
     margin-top: 55%;
    margin-left: 6%;
    margin-bottom: 30%;
  }

   .slider .item img {
     width: 90%;
     margin: 0 auto;
     height: 400px;

   }
   .caption{
    position: static;
    margin-top: 17%;
  
   }
   .title{
    font-size: 28px;
    line-height: 40px;
  }
.subtitle{ position: relative;
  top: -150px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  
}
   button{
     display: none;
   }
   .burger{
    display: block;
    margin-right: 1em;
   }
   .header_logo img{
     margin-left: 1em;
   }
.burger.active::after {
 display: none;
}
.burger.active::before {
  margin-top: 0px;
}
.burger.active span {
  transform: rotate(-45deg);
  margin-top: 0px;
}
li a{
  font-size: 20px;
}
.header_item.active {
  margin-bottom: 11px;
}
.header_list.active {
  margin-top: 173%;
  
}
}


  