/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html, .body_container{
	height: 100%
}
 body .container{
	 padding-top: 75px;
	 padding-bottom: 75px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: 0 auto;
}
 .wrap_header{
	 display: flex;
	 justify-content: space-between;
	 padding:  0 15px;
	 margin-bottom: 75px;
}

.wrap_header_right{
	max-width: 720px;
}
.title{
	font-family: 'Forum', cursive; 
	font-weight: 400;
	font-size: 80px;
	line-height: 90px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color:  #9d8665;
  }

.caption{
font-family: 'Roboto', sans-serif; 
font-weight: 300;
font-size: 22px;
line-height: 38.5px;

}

 body main{
	flex: 1 1 auto;
	padding: 0 15px;
	margin-bottom: 40px;
	
}
main video{
	width: 1054px;
    height: 700px;
    margin: auto;
    display: block;
}


@media (max-width:767px){
	footer{padding: 50px 10px;}
}

/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	display: none !important;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	display: none !important;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
	position: relative;
	
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}



.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #999999;;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: #333333;
	border: 1px solid ;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item iframe{
	max-width: 100%;
}
.slider__item.slick-center{
	
}

