body{
    box-sizing: border-box; 
    background: white;
  }
  .container {
    margin: 0 auto; max-width: 1440px;
      padding-top: 75px; padding-bottom: 75px;
      padding-left: 5%;
      padding-right: 5%;
    }
  
  .gallery {
  padding-top: 73px; padding-bottom: 75px;
  }
  .photo{
    width: calc(1/3*100% - (1 - 1/3)*50px);
    margin: 0 0 50px;
  }
  .title{
    font-family: 'Forum', cursive; 
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    color: #9D8665;
    text-transform: uppercase;
    margin-bottom: 23px;
  }
  hr {
    border: none; 
    background-color: #710707; 
    color: #710707;; 
    height: 3px; 
   }
   img{
       width: 100%;
       height: auto;
   }
   .first_line{
       display: flex;
       justify-content: space-between;
     

   }
   .subtitle a{
    font-family: 'Forum', cursive; 
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 25px;
    text-decoration: none;
    display: inline-block;
    color: #000000;
   }
   .subtitle hr{
    background-color: #710707; 
    color: #710707;; 
    height: 2px; 
    width: 300px;
    margin-left: 0;
    margin-bottom: 13px;
   }
  .subtitle h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    color: #000000;   
    margin-bottom: 20px;
   }
   .subtitle h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    color: #000000;  
   }
   .second_line{
       margin-top: 75px;
       display: flex;
       justify-content: space-between;
   }
   @media only all and (max-width:1024px){
    
    .container {
        padding-left: 0%;
        padding-right: 0%;
      }
    .photo{
      width: auto;
    }
    .subtitle a{
      font-family: 'Forum', cursive; 
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 3px;
    display: inline-block;
    margin-left: -4.5em;
    }
    body header{
      padding-left: 20px;
      padding-right: 20px;
    }
    
    section.gallery {
     text-align: center;
      
    }
    .first_line{
      display: inline-block;
      margin-top: -25px;
      margin-right: 0;
      
  }
  .second_line{
    display:inline-block;
    margin-top: 0;
    margin-left: 6%;
  }
  .photo{
    margin-bottom: 50px;
   
  }
   .photo img{
    max-width: 330px;
    height: 215px;
  
  }
  .title{
    font-family: 'Forum', cursive; 
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    color: #9D8665;
    text-transform: uppercase;
    margin-bottom: 23px;
  }
  
   .subtitle hr{
    height: 2px; 
    width: 150px;
  }
  .subtitle h2{
    font-size: 20px;
    margin-left: -9em;
    margin-bottom: 10px;
  }
  .subtitle h3{
    font-size: 16px;
    margin-left: -7.5em;
  }
  .second_line .subtitle  a{
    margin-left: -5.5em;
  }

  .photo .subtitle .last_first_section{
    margin-left: -1em;
  }
 .photo .subtitle .last_second_section a{
   margin-left: -4em;
 }
}
@media only all and (max-width:768px){
  
  .photo img{
    max-width: 200px;
    height: auto;
  }
  .title {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
  }
  .subtitle h2{
    font-size: 18px;
    letter-spacing: 3px;
    margin-left: -1em;
  }
  .subtitle h3{
    font-size: 16px;
      margin-left: 0em;
  }
  .subtitle a{
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 3px;
  margin-left: -2em;
  }
 
  .second_line .subtitle  a{
    margin-left: -3em;
  }
  .photo .subtitle .last_second_section a{
    margin-left: -1.5em;
  }
  
}
@media only all and (max-width:480px){
  .second_line{
    margin-top: 0;
    margin-left: 0;
}
.photo img{
  max-width: 280px;
  height: auto;
}
.title {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 5px;
}
.subtitle a{
  font-size: 18px;
  letter-spacing: 5px;
  margin-left: -100px;
  }
  .second_line .subtitle a {
    margin-left: -127px;
}
.subtitle h2{
  font-size: 16px;
  margin-left: -93px;
}

 .photo .subtitle h3 {
  font-size: 15px;
  margin-left: -69px;
  }
  .photo .subtitle .last_second_section a {
    margin-left: -91.5px;
  }
}



