body{
    box-sizing: border-box; 
    background: black;
    
  
  }
  
  .container {
    margin: 0 auto; max-width: 1440px;
    padding-top: 75px;
    padding-bottom: 75px;
   
    }
  
  section {
  display: flex;
  justify-content: space-between;
  }
  article{
    flex-basis:960px;
 
   
  }
  
  .title{
  
  }
  h1{
    font-family: 'Forum', cursive; 
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-right: 60px;
    color: red;
    margin-top: -20px;
  }
  
  
    hr {
      border: none; /* Убираем границу */
      background-color: #710707; /* Цвет линии */
      color: #710707;; /* Цвет линии для IE6-7 */
      height: 3px; /* Толщина линии */
      margin-top: 25px;
     width: 90%;
     margin-left: 0;
     }
     .subtitle{
      
     }
     h2{
      font-family: 'Roboto', sans-serif; 
      font-weight: 300;
      font-size: 22px;
      line-height: 38.5px;
      color:  #FFFFFF;
     }
  
  
  
  
  
  
  
  
  
  
  
  
  
  